<%= flash_message %>
<p><%= @project.name %> - aprox. worked <%= project_total_hours(@project,@date) %> hours. </p>
<% @entries.each do |entry| %>
<ul>
  <li>
    <%= entry.hours %> hours - <%= entry.minutes %> minutes | Date: <%= entry.date.strftime("%d/%m/%Y") %> - 
    <%= link_to("Edit", edit_project_entry_path(entry.project_id, entry.id)) %> - 
    <%= link_to("Delete", project_entry_path(entry.project_id, entry.id), method: :delete, data: {confirm: "Are you sure?"}) %>
 
  </li>
</ul>
<% end %>
<%= link_to("GO BACK to the list Projects", projects_path(@project)) %> / 
<%= link_to("#{@project.name} INFO", project_path(@project)) %> / 
<%= link_to("ADD a new entry", new_project_entry_path(@project)) %>